<div class="container bg-light p-5">
    <h1 class="display-6 fw-bold">
        Welcome to Angular Quiz
    </h1>

    <p class="col-md-8 fs-5">
        The quiz contains a total of 9 questions. Each question is worth 10 points
    </p>

    <h4>Rules:</h4>
    <ol>
        <li>Each correct question earns you 10 points</li>
        <li>Each incorrect question subtracts 10 points</li>
        <li>Each question has 60 seconds time limit</li>
        <li>Refreshing the page resets the Quiz</li>
    </ol>

    <h1 style="font-family: cursive; text-align: center;">All the best!!!</h1>

    <div class="col-md-4 mt-3 mb-3">
        <label for="exampleFormControlInput1" class="form-label">Enter your name:</label>
        <input type="text" class="form-control">
    </div>

    <button class="btn btn-primary btn-lg" routerLink="/question">Start Quiz ?</button>

</div>
